:host {
  display: block;
  width: 100%;
  max-width: 550px;
  background-color: var(--color-surface-soft, #fffaf5);
}

mat-form-field {
  width: 100%;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  
  &::-webkit-scrollbar {
    display: none;
  }
}
