@use '@angular/material' as mat;

html {
  height: 100%;

  @include mat.theme(
    (
      color: (
        primary: mat.$orange-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  color-scheme: dark;
  background-color: #121212;
  color: white;
  font: var(--mat-sys-body-medium);

  margin: 0;
  height: 100%;
}