@use '@angular/material' as mat;

html {
  height: 100%;
  color-scheme: light;

  @include mat.theme(
    (
      color: (
        primary: mat.$orange-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  background:
    linear-gradient(180deg, #fcf7f1 0%, #f2ebe2 100%);
  color: #2d241f;
  font: var(--mat-sys-body-medium);

  margin: 0;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button,
a {
  font: inherit;
}
